@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Bree+Serif&family=Calistoga&family=Crete+Round&family=Gelasio:wght@700&family=Kadwa:wght@700&family=Libre+Baskerville:wght@700&family=Merriweather:wght@900&family=Vesper+Libre:wght@900&family=Volkhov:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&family=Brawler&family=Buenard&family=Crete+Round&family=Fanwood+Text&family=Gentium+Book+Basic&family=Neuton&family=Prociono&family=Quando&family=Tienne:wght@700&family=Trocchi&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  zoom: 100%;
  color: #fefefe;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: #01589b;
  background-image: linear-gradient(147deg, #111111 0%, #2c3e50 74%);
}
/* hide x scroll */
body {
  overflow-x: hidden !important;
}
.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
/* scrollbar */
body::-webkit-scrollbar {
  width: 0 !important;
}
body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.offset::before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

.offset-spl::before {
  display: block;
  content: "";
  height: 3.5rem;
  margin-top: -4rem;
}

/* --nav bar--*/
.navbar {
  font-family: "ZCOOL XiaoWei", serif;
  background-color: #232323;
  opacity: 0.9;
  font-size: 18px;
  filter: (opacity=50);
}

.navbar-brand img {
  height: 2.8rem;
}

.navbar-nav li {
  padding-right: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: tomato;
}

/*----landing page---*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}

.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  background-image: url(img/bg.jpg);

  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 4%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  font-weight: 1000;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  padding-bottom: 1.6rem;
}
#landing a {
  font-family: "Libre Baskerville", serif;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}

/*---lecturers---*/

#founder.card {
  box-shadow: 10px 25px 60px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  text-align: justify;
}

#founder h3.heading {
  padding-top: 10px;
}

h5.card-title {
  font-family: "Gentium Book Basic", serif;
}
.card-deck {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 3rem;
  overflow: hidden;
  padding-bottom: 4rem;
}

.card .cardimg {
  height: 68%;
  padding: 1.5em;
}

.card {
  background-color: #edeeef;
}

#founder .card p {
  font-family: "Gentium Book Basic", serif;
  font-size: 18px;
  font-weight: 500;
}

/*---events---*/

#events {
  margin-bottom: 5rem;
}

#events .card {
  box-shadow: 10px 25px 60px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
  text-align: justify;
}

#events .card-deck {
  width: 100%;
  left: 0px;
  padding-right: 5rem;
}

#events .card-body p {
  font-family: "Neuton", serif;
  font-size: 20px;
}

#events .card-body h3 {
  font-family: "Gentium Book Basic", serif;
}
/*------Swiper CSS-------*/
.swiper-container {
  margin-top: 1em;
  width: 90%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/*--Board--*/
.board {
  position: relative;
}

.board .img-box {
  opacity: 1;
  display: block;
  position: relative;
  padding-bottom: 10px;
  margin-top: 1em;
  height: 21rem;
}

.img-box {
  width: 17.5rem;
  margin: 0 auto;
}

.board .imgbox img {
  position: absolute;
  padding-right: 10px;
  transition: 0.5s;
  z-index: 1;
}

.board img {
  height: 21rem;
  width: 17.5rem;
}

.img-box::after {
  content: "";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.board .img-box:hover::after {
  opacity: 1;
  cursor: pointer;
}

.board h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
  color: #fff;
  font-family: "Gentium Book Basic", serif;
}

.board h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  padding-bottom: 3rem;
  color: #fff;
  font-family: "Gentium Book Basic", serif;
}

.board h3.treasurer {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 0;
  bottom: 0;
  margin-bottom: 0;
}

h3.treasurer {
  bottom: 0;
}

/* --- About --- */
#about {
  padding-top: 4.5rem;
}

.About {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding-bottom: 7rem;
}

.About .container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  top: 5vh;
}
.About .container .card {
  width: 320px;
  margin: 20px;
  padding: 40px 30px;
  height: 21.5rem;
  background: #ebf5fc;
  border-radius: 25px;
  box-shadow: -6px -6px 20px rgba(255, 225, 255, 0.1),
    4px 4px 20px rgba(0, 0, 0, 0.1);
}

.About .container .card:hover {
  box-shadow: inset -6px -6px 10px rgba(255, 255, 255, 0.5),
    inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.container .card .imgBx {
  position: relative;
  text-align: center;
}

.container .card .imgBx img {
  max-width: 120px;
}

.container .card .contentBx {
  position: relative;
  margin-top: 20px;
  text-align: center;
}

.container .card .contentBx h2 {
  color: #232323;
  font-weight: 900;
  font-family: "Quando", serif;
  font-size: 1.4em;
  letter-spacing: 2px;
}

.container .card .contentBx p {
  color: #232323;
  font-family: "Gentium Book Basic", serif;
  font-weight: bold;
  font-size: 18px;
}

/*--modal--*/
.member_modal {
  padding: 15px 6px;
  padding-bottom: 25px;
  border-radius: 10px;
  text-align: center;
}

.member_modal h4,
h6 {
  font-family: "Gentium Book Basic", serif;
}

.modal-body ul {
  margin: 0;
  position: absolute;
  z-index: 1;
  display: block;
  transform: translateX(10%);
  justify-content: center;
  margin-left: 8.8rem;
  padding-top: 1px;
  transition: all 0.5s ease-in-out 0s;
}

.modal-body ul li {
  width: 35px;
  height: 35px;
  margin: 1px;
  text-decoration: none;
  color: #232323;
  display: inline-block;
  transition: all 0.5s ease-in-out 0s;
}

.modal-body a {
  text-decoration: none;
  color: #232323;
}

.modal-body p {
  font-family: "Gentium Book Basic", serif;
  font-weight: 400;
}

.modal-body:hover ul {
  cursor: pointer;
  opacity: 1;
}

.jumbotron {
  margin-bottom: 0.8em;
  padding: 0.5rem 0 0.1rem 0;
  border-radius: 0;
  background: inherit;
}

h3.heading {
  font-size: 2.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4rem;
  padding-top: 1.8rem;
  color: #ffffff;
  font-family: "Merriweather", serif;
  letter-spacing: 0.2rem;
}

h3.second {
  position: relative;
  font-size: 2.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4rem;
  padding-top: 1.8rem;
  color: #ffffff;
  font-family: "Merriweather", serif;
  letter-spacing: 0.2rem;
}

h3.second span {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  /* border-radius: 10px; */
  border-bottom: 2px solid tomato;
}

h3.second span:after {
  content: "";
  position: absolute;
  bottom: calc(-100% - 1px);
  margin-left: -10px;
  display: block;
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
  border-top: 1px solid tomato;
}

/* h3.sixth:hover:after {
  transform: translateX(5px);
} */

/*--blog--*/

#blog img {
  width: 100%;
}

#blog {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  margin: 4rem 5rem 0 -1rem;
  padding-top: 20rem;
}

.blog-post {
  width: 100%;
  max-width: 80rem;
  height: 23rem;
  margin: 10rem;
  padding: 5rem;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
}

.blog-post_info {
  background-color: #fff;
  right: 0;
}

.blog-post_img {
  min-width: 30rem;
  max-width: 30rem;
  height: 21rem;
  transform: translate(-3rem, -4rem);
  position: relative;
  bottom: 0;
}

.blog-post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.15rem;
}

.blog-post_img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0.5rem 0.5rem 0.9rem 1px rgb(0, 0, 0, 0.5);
  border-radius: 0.8rem;
}

.blog-post_title {
  font-size: 2rem;
  left: 0;
  top: 0;
  margin: 0 0 0 0;
  padding-top: 0.5rem;
  font-weight: 500;
  font-family: "Neuton", serif;
  text-transform: uppercase;
  color: #232323;
  overflow: hidden;
}
.blog-post_text {
  position: relative;
  left: 0;
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-family: "Gentium Book Basic", serif;
  font-weight: 200;
  color: #232323;
  margin: 10px 10px 10px 0;
  padding: 10px 10px 10px 0;
}

#blog .p {
  left: 0;
}

.blog-post_cta {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  background: tomato;
  border-radius: 0.2rem;
  text-decoration: none;
  transition: 0.5s;
}

.blog-post_cta:hover {
  background-color: #ff6338;
  border-color: #ff6338;
  color: white;
  text-decoration: none;
}

/*---Registration page----*/

#register {
  margin: 10rem 15rem 1rem 15rem;
  padding: 5rem;
}

#register .form-box {
  background: white;
  font-family: "Gentium Book Basic", serif;
}

.register_box {
  margin: 2rem;
  padding: 0rem 2rem 2rem 2rem;
  color: black;
  border-radius: 5px;
}

.register_button {
  margin-left: 37%;
}

.form-control:valid {
  background-color: rgba(
    255,
    255,
    255,
    0.39
  ) !important; /* background of input text field*/
  color: black; /* color of input text field*/
  border: 1px solid rgba(105, 105, 105, 0.8);
}

/*---footer--*/
footer {
  font-family: "Gentium Book Basic", serif;
  position: absolute;
  width: 100%;
  left: 0px;
  background-color: #2c2c2c;
  color: #ffffff;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  width: 100%;
}
footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  width: 100%;
}

/*--responsive_blog--*/
@media screen and (max-width: 1068px) {
  .blog-post_title {
    top: -20rem;
  }
  .swiper-container {
    width: 75%;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 50rem;
    margin: 0;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  #blog {
    margin: 0 auto;
    padding-top: 18px;
    margin-bottom: 20px;
  }
  .caption h1 {
    font-size: 44px;
  }
  .caption h3 {
    font-size: 24px;
  }
  .blog-post {
    padding: 1.5rem;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    right: 0;
    max-width: 50rem;
    height: auto;
  }
  .blog-post_title {
    margin-top: 0.001rem;
  }

  .blog-post_img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -3rem);
    margin-bottom: 0;
    bottom: 0;
  }
  .swiper-container {
    width: 75%;
    margin-bottom: 1rem;
  }
  .form-box {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 376px) {
  .caption h1 {
    margin: 2rem 0 0 0;
    padding: 5rem 0 0 0;
  }
  .caption h3 {
    font-size: 18px;
    line-height: 30px;
    margin: 1rem 0.5rem 0 0.5rem;
    padding: 5rem 0.3rem 0 0.3rem;
  }

  #blog {
    padding-top: 20rem;
  }

  .blog-post_img {
    bottom: 0;
    margin-bottom: 2px;
  }

  .blog-post_title {
    top: 0;
  }
  .blog-post_text {
    font-size: 18px;
  }
  .swiper-container {
    width: 85%;
    margin-bottom: 4rem;
  }
  .swiper-pagination {
    top: 89%;
  }
}
@media screen and (max-width: 360px) {
  .card-deck {
    margin: 12px;
    padding: 14px;
  }
  .caption h1 {
    font-size: 28px;
  }
  .caption h3 {
    font-size: 16px;
    line-height: 2px;
  }
  .btn-lg {
    margin: 1rem;
    font-size: 0.79rem;
  }
  h3.second {
    font-size: 20px;
  }
  .modal-body ul {
    margin-left: 25%;
  }
  .swiper-container {
    width: 75%;
    margin-bottom: 1rem;
  }
  .swiper-pagination {
    top: 89%;
  }
  #blog {
    height: 120vh;
    margin-bottom: 0rem;
  }
  h3.second {
    font-size: 23px;
  }
  .modal-body p {
    font-size: 14px;
  }
  #register {
    margin: 40px 10px 20px 10px;
    padding: 60px 5px 2px;
  }

  .register_box {
    margin: 10px;
    padding: 10px;
    color: black;
    font-size: 14px;
    border-radius: 5px;
  }
  .register_button {
    margin-left: 21%;
  }
  #register {
    margin-top: 5rem;
    padding-top: 0.1rem;
  }
}

/*-- responsive caption (landing page)--*/
@media screen and (max-width: 780px) {
  .caption {
    right: 0;
    top: 1%;
  }
  .blog-post {
    padding: 1.5rem;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    right: 0;
    max-width: 30rem;
    height: auto;
    margin-top: 0px;
  }
  #blog {
    height: 120vh;
  }
  .blog-post_img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -3rem);
    margin-bottom: 0;
    bottom: 0;
  }
  .caption h1 {
    margin: 6rem 0 0 0;
    padding: 5rem 0 0 0;
  }
  .caption h3 {
    font-size: 18px;
    line-height: 30px;
    margin: 1rem 0.5rem 0 0.5rem;
    padding: 5rem 0.3rem 0 0.3rem;
  }
}
/* fixing of img hover for board members */
@media screen and (max-width: 1347px) and (min-width: 1046px) {
  .img-box {
    width: 16rem;
  }
  #blog {
    height: 80vh;
  }
  .blog-post_img {
    max-width: 16rem;
    min-height: 20rem;
    transform: translate(-3rem, 0);
    bottom: 0;
  }
  .blog-post {
    margin: 0;
    padding: 0;
    width: 59rem;
  }
  .blog-post_info {
    margin: 10px;
    padding: 10px;
  }
  #register {
    margin: 5px 10px 20px 10px;
    padding: 10px;
  }

  .register_box {
    margin: 5px;
    padding: 5px;
    color: black;
  }
  .register_button {
    margin-left: 37%;
  }
}
@media screen and (max-width: 1046px) and (min-width: 768px) {
  .img-box {
    width: 12rem;
  }
  #blog {
    height: 80vh;
  }
  .blog-post_img {
    max-width: 26rem;
    min-height: 20rem;
    transform: translate(-2rem, 0);
    bottom: 0;
  }
  .blog-post {
    margin: 0;
    padding: 0;
    width: 49rem;
    height: 70vh;
  }
  .blog-post_info {
    margin: 10px;
    padding: 10px;
  }
  .modal-body p {
    font-size: 14px;
  }

  #register {
    margin: 5px 10px 20px 10px;
    padding: 10px;
  }

  .register_box {
    margin: 5px;
    padding: 5px;
    color: black;
  }
  .register_button {
    margin-left: 37%;
  }
}
@media screen and (max-width: 767px) and (min-width: 375px) {
  .card-deck {
    margin: 12px;
    padding: 14px;
  }
  .img-box {
    width: 17.5rem;
  }
  .caption h1 {
    font-size: 28px;
    margin: 6rem 0 0 0;
    padding: 0 0 0 0;
  }
  .caption h3 {
    font-size: 16px;
    line-height: 30px;
    margin: 1rem 0.5rem 0 0.5rem;
    padding: 1rem 0.3rem 1rem 0.3rem;
  }
  .btn-lg {
    margin: 1rem;
    font-size: 0.79rem;
  }
  h3.second {
    font-size: 24px;
  }
  .swiper-container {
    margin-top: 0px;
    width: 75%;
    margin-bottom: 4rem;
  }
  .modal-body ul {
    margin-left: 25%;
  }
  #blog {
    height: 130vh;
  }
  .modal-body p {
    font-size: 14px;
  }

  #register {
    margin: 5px 10px 20px 10px;
    padding: 2px;
  }

  .register_box {
    margin: 10px;
    padding: 10px;
    color: black;
    font-size: 14px;
    border-radius: 5px;
  }
  .register_button {
    margin-left: 23%;
  }
}
@media screen and (max-width: 940px) and (min-width: 780px) {
  #blog {
    height: 80vh;
  }
  .blog-post_img {
    max-width: 24rem;
    min-width: 24rem;
    min-height: 20rem;
    max-height: 20rem;
    transform: translate(-1rem, 0);
    bottom: 0;
  }
  .blog-post {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70vh;
  }
  .blog-post_info {
    margin: 10px;
    padding: 10px;
  }
}
@media screen and (max-width: 780px) and (min-width: 768px) {
  #blog {
    height: 120vh;
  }
  .blog-post_img {
    max-width: 24rem;
    min-width: 24rem;
    min-height: 20rem;
    max-height: 20rem;
    transform: translate(0, -3rem);
    bottom: 0;
  }
  .blog-post {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 105vh;
  }
  .blog-post_info {
    margin: 10px;
    padding: 10px;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*-- responsive--*/
/*--about--*/
/* @media (max-width: 960px) {
  section {
    flex-direction: column;
  }

  section .flex-col {
    padding: 0 40px;
  }

  header {
    padding: 0 45px 20px;
  }
}

@media (max-width: 425px) {
  header h1 {
    font-size: 1.4rem;
  }
} */

/* background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
   */
/* background-color: #f6f6f6;
  background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%); */

/* background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%); */

/* someoneelse tie*/
/* background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */

/*--About--*/
